################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CSharp_Net_module1_1_4_lab/.vs/CSharp_Net_module1_1_4_lab
/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab/bin/Debug
/CSharp_Net_module1_1_4_lab/CSharp_Net_module1_1_4_lab/obj/Debug
